/**
 * @name DiscordIcons
 * @author gold_me
 * @description A lightweight theme that adds icons to your settings.
 * @source https://github.com/gold-me/DiscordIcons
 * @version 0.2.5
 */

/* DEFINITIONS */
@property --icon-size {
	syntax: "<length>";
	inherits: true;
	initial-value: 24px;
}

@property --icon-height {
	syntax: "<length>";
	inherits: true;
	initial-value: 32px;
}

@property --icon-gap {
	syntax: "<length>";
	inherits: true;
	initial-value: 10px;
}

@property --icon-animations {
	syntax: "true | false";
	inherits: true;
	initial-value: true;
}

@property --icon-expand {
	syntax: "true | false";
	inherits: true;
	initial-value: false;
}

@property --icon-monocolor {
	syntax: "true | false";
	inherits: true;
	initial-value: false;
}

@property --icon-permacolor {
	syntax: "true | false";
	inherits: true;
	initial-value: false;
}

@property --icon-color {
	syntax: "<color>";
	inherits: false;
	initial-value: currentColor;
}

@property --icon-Default {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Indeterminate_Question_Box.svg");
}

@property --icon-MyAccount {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Manage_Accounts.svg");
}

@property --icon-ProfileCustomization {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Style.svg");
}

@property --icon-PrivacySafety {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Security.svg");
}

@property --icon-FamilyCenter {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Supervisor_Account.svg");
}

@property --icon-AuthorizedApps {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/App_Registration.svg");
}

@property --icon-Devices {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Devices.svg");
}

@property --icon-Connections {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Link.svg");
}

@property --icon-Clips {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Theaters.svg");
}

@property --icon-FriendRequests {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Group_Add.svg");
}

@property --icon-Nitro {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Discord/Nitro.svg");
}

@property --icon-ServerBoost {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Discord/Server_Boost.svg");
}

@property --icon-Subscriptions {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Fact_Check.svg");
}

@property --icon-Gifts {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Redeem.svg");
}

@property --icon-Billing {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Receipt_Long.svg");
}

@property --icon-Appearance {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Brush.svg");
}

@property --icon-Accessibility {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Accessibility_New.svg");
}

@property --icon-VoiceVideo {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Perm_Camera_Mic.svg");
}

@property --icon-Chat {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Chat.svg");
}

@property --icon-Notifications {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Notifications_Active.svg");
}

@property --icon-Keybinds {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Keyboard.svg");
}

@property --icon-Language {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Translate.svg");
}

@property --icon-Windows {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Logo-Windows.svg");
}

@property --icon-Mac {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Logo-Apple.svg");
}

@property --icon-Linux {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Logo-Tux.svg");
}

@property --icon-Streaming {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Videocam.svg");
}

@property --icon-Advanced {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Tune.svg");
}

@property --icon-Vencord {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/jdecked/twemoji/main/assets/svg/1f431.svg");
}

@property --icon-Plugins {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Extention.svg");
}

@property --icon-Themes {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Format_Paint.svg");
}

@property --icon-Updater {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/System_Update_Alt.svg");
}

@property --icon-Cloud {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Cloud.svg");
}

@property --icon-BackupRestore {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Backup.svg");
}

@property --icon-ActivityPrivacy {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Privacy.svg");
}

@property --icon-GameActivity {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Gamepad.svg");
}

@property --icon-Overlay {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Overlay.svg");
}

@property --icon-Changelog {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Update.svg");
}

@property --icon-Merch {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Shirt.svg");
}

@property --icon-HypeSquad {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Discord/HypeSquad.svg");
}

@property --icon-Experiments {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Experiment.svg");
}

@property --icon-DeveloperOptions {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Memory.svg");
}

@property --icon-HotspotOptions {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Memory.svg");
}

@property --icon-DismissibleConents {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Memory.svg");
}

@property --icon-PaymentFlowModals {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Memory.svg");
}

@property --icon-DesignSystems {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Memory.svg");
}

@property --icon-TextPlayground {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Memory.svg");
}

@property --icon-TextComponents {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Memory.svg");
}

@property --icon-IntlTesting {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Memory.svg");
}

@property --icon-ProfileEffectsPreview {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Memory.svg");
}

@property --icon-WebSettingTreeTool {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Memory.svg");
}

@property --icon-Logout {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Logout.svg");
}

@property --icon-Overview {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Info.svg");
}

@property --icon-Roles {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Badge.svg");
}

@property --icon-Emoji {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Emoji.svg");
}

@property --icon-Stickers {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Stickers.svg");
}

@property --icon-Soundboard {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Soundboard.svg");
}

@property --icon-Widget {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Widgets.svg");
}

@property --icon-Template {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Library_Books.svg");
}

@property --icon-CustomInvite {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Share.svg");
}

@property --icon-Integrations {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Mediation.svg");
}

@property --icon-AppDirectory {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Apps.svg");
}

@property --icon-SafetySetup {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Safety_Setup.svg");
}

@property --icon-AutoMod {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/AutoMod.svg");
}

@property --icon-AuditLog {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Audit_Log.svg");
}

@property --icon-Bans {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Gavel.svg");
}

@property --icon-Onboarding {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Groups.svg");
}

@property --icon-Insights {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Insights.svg");
}

@property --icon-Partner {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Discord/Partner.svg");
}

@property --icon-Discovery {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Explore.svg");
}

@property --icon-Members {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Group.svg");
}

@property --icon-Invite {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Send.svg");
}

@property --icon-Permissions {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Permissions.svg");
}

@property --icon-Delete {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Delete.svg");
}

@property --icon-Party {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Discord/Party.svg");
}

:root {
	container: root;
}


/* Padding and Icons */
.sidebar_c25c6d .side_a0 .item_a0 {
	padding: calc((var(--icon-height) - var(--icon-size)) / 2) 4px !important
}

.sidebar_c25c6d .item_a0::before {
	content: "";
	float: left;
	width: var(--icon-size) !important;
	height: var(--icon-size) !important;
	margin-right: 8px;
	opacity: 0.5;
	transition: 160ms;
	mask: var(--icon-Default) center/contain no-repeat;
	background: currentColor;

	/* Conflicting Theme Sidebar fixes */
	margin-top: 0px !important;
	position: static !important;
	background-image: unset !important;
}

.sidebar_c25c6d .side_a0 .item_a0 {
	line-height: var(--icon-size);
}

.sidebar_c25c6d .side_a0 .item_a0 .dot-2s_oHI {
	background-color: var(--bd-blue);
}

.sidebar_c25c6d .side_a0 .item_a0:hover::before {
	opacity: 0.7;
}

.sidebar_c25c6d .side_a0 .item_a0.selected_a0::before {
	opacity: 1;
}

/* Icon Coloring */

@container root style(--icon-monocolor: false) {

	.sidebar_c25c6d .side_a0 .item_a0.selected_a0::before,
	.sidebar_c25c6d .side_a0 .item_a0:hover::before {
		background-color: var(--icon-color);
	}
}

@container root style(--icon-permacolor: true) {
	.sidebar_c25c6d .side_a0 .item_a0::before {
		background-color: var(--icon-color);
	}
}


/* Button Hover & Animations */
@container root style(--icon-animations: true) {
	.sidebar_c25c6d .item_a0 {
		border-radius: 4px 0px 0px 4px;
		transform: translateZ(0);
		transition: 220ms;
	}

	.sidebar_c25c6d .item_a0:hover,
	.sidebar_c25c6d .selected_a0.item_a0 {
		transform: translateX(8px);
		transition: 160ms;
	}
}

/* Icons Expansion */
@container root style(--icon-expand: true) {

	.sidebar_c25c6d:is(
		.item_a0:hover,
		.selected_a0.item_a0) {
		min-width: calc(var(--custom-standard-sidebar-view-sidebar-content-width) + (var(--icon-size) * (1 + (1 / 3))));
		margin-left: calc(-1 * var(--icon-size) * (1 + (1 / 3)));
	}
}

/* Misc .Fixes */
[class^="serverBoostTabItem_"][aria-selected="true"] {
	background-color: var(--background-modifier-selected) !important;
}

/* Nitro, Server Boost & Subscriptions Selected Color Fix */
.sidebar_c25c6d .selected_a0.item_a0[data-tab-id="Discord Nitro"] [class^="background_"] {
	background-color: unset !important;
	z-index: 0;
}

[class^="serverBoostTabItem_"].selected_a0.item_a0,
.selected_a0.item_a0 [class^="premiumLabel_"] {
	color: inherit !important;
}

/* Remove Unnesecary Icons */
.item_a0[data-tab-id="Powermode Settings"] img,
[class^="premiumLabel_"] svg,
[class^="serverBoostTabItem_"] .icon_f7189e,
.item_a0:is([data-tab-id="DELETE"], [data-tab-id="logout"]) [class^="tabBarItemContainer_"] svg {
	display: none;
}

/*		User Settings		*/
/* Settings: My Account */
.item_a0[data-tab-id="My Account"]::before {
	mask: var(--icon-MyAccount, var(--icon-Default)) center/contain no-repeat;
}

/* Settings: Profiles */
.item_a0[data-tab-id="Profile Customization"]::before {
	mask: var(--icon-ProfileCustomization, var(--icon-Default)) center/contain no-repeat;
}

/* Settings: Privacy & Safety */
.item_a0[data-tab-id="Privacy & Safety"]::before {
	mask: var(--icon-PrivacySafety, var(--icon-Default)) center/contain no-repeat;
}

/* Settings: Family Center */
.item_a0[data-tab-id="Family Center"]::before {
	mask: var(--icon-FamilyCenter, var(--icon-Default)) center/contain no-repeat;
}

/* Settings: Authorized Apps */
.item_a0[data-tab-id="Authorized Apps"]::before {
	mask: var(--icon-AuthorizedApps, var(--icon-Default)) center/contain no-repeat;
}

/* Settings: Devices */
.item_a0[data-tab-id="Sessions"]::before {
	mask: var(--icon-Devices, var(--icon-Default)) center/contain no-repeat;
}

/* Settings: Connections */
.item_a0[data-tab-id="Connections"]::before {
	mask: var(--icon-Connections, var(--icon-Default)) center/contain no-repeat;
}

/* Settings: Clips */
.item_a0[data-tab-id="Settings Clips"]::before {
	mask: var(--icon-Clips, var(--icon-Default)) center/contain no-repeat;
}

/* Settings: Friend Requests */
.item_a0[data-tab-id="Friend Requests"]::before {
	mask: var(--icon-FriendRequests, var(--icon-Default)) center/contain no-repeat;
}

/*		Billing Settings		*/

/* Settings: Discord Nitro */
.item_a0[data-tab-id="Discord Nitro"]::before {
	mask: var(--icon-Nitro) center/contain no-repeat;
	--icon-color: var(--brand-500);
}

/* Settings: Server Boost */
.item_a0[data-tab-id="Nitro Server Boost"]::before {
	mask: var(--icon-ServerBoost, var(--icon-Default)) center/contain no-repeat;
	--icon-color: var(--guild-boosting-pink);
}

/* Settings: Subscriptions */
.item_a0[data-tab-id="Subscriptions"]::before {
	mask: var(--icon-Subscriptions, var(--icon-Default)) center/contain no-repeat;
}

/* Settings: Gift Inventory */
.item_a0[data-tab-id="Library Inventory"]::before {
	mask: var(--icon-Gifts, var(--icon-Default)) center/contain no-repeat;
}

/* Settings: Billing */
.item_a0[data-tab-id="Billing"]::before {
	mask: var(--icon-Billing, var(--icon-Default)) center/contain no-repeat;
}

/*		App Settings		*/

/* Settings: Appearance */
.item_a0[data-tab-id="Appearance"]::before {
	mask: var(--icon-Appearance, var(--icon-Default)) center/contain no-repeat;
}

/* Settings: Appearance */
.item_a0[data-tab-id="Accessibility"]::before {
	mask: var(--icon-Accessibility, var(--icon-Default)) center/contain no-repeat;
}

/* Settings: Voice & Video */
.item_a0[data-tab-id="Voice & Video"]::before {
	mask: var(--icon-VoiceVideo, var(--icon-Default)) center/contain no-repeat;
}

/* Settings: Party Mode */
.item_a0[data-tab-id="Powermode Settings"]::before {
	mask: var(--icon-Party, var(--icon-Default)) center/contain no-repeat;
}

/* Settings: Chat */
.item_a0[data-tab-id="Text & Images"]::before {
	mask: var(--icon-Chat, var(--icon-Default)) center/contain no-repeat;
}

/* Settings: Notifications */
.item_a0[data-tab-id="Notifications"]::before {
	mask: var(--icon-Notifications, var(--icon-Default)) center/contain no-repeat;
}

/* Settings: Keybinds */
.item_a0[data-tab-id="Keybinds"]::before {
	mask: var(--icon-Keybinds, var(--icon-Default)) center/contain no-repeat;
}

/* Settings: Language */
.item_a0[data-tab-id="Language"]::before {
	mask: var(--icon-Language, var(--icon-Default)) center/contain no-repeat;
}

/* Settings: Windows Settings */
.item_a0[data-tab-id="Windows"]::before {
	mask: var(--icon-Windows, var(--icon-Default)) center/contain no-repeat;
}

/* Settings: Linux Settings */
.item_a0[data-tab-id="Linux"]::before {
	mask: var(--icon-Linux, var(--icon-Default)) center/contain no-repeat;
}

/* Settings: Streamer Mode */
.item_a0[data-tab-id="Streamer Mode"]::before {
	mask: var(--icon-Streaming, var(--icon-Default)) center/contain no-repeat;
}

/* Settings: Advanced */
.item_a0[data-tab-id="Advanced"]::before {
	mask: var(--icon-Advanced, var(--icon-Default)) center/contain no-repeat;
}

/* Settings: Vencord Icons */
.item_a0[data-tab-id="VencordSettings"]::before {
	mask: var(--icon-Vencord, var(--icon-Default)) center/contain no-repeat;
}

.item_a0[data-tab-id="VencordPlugins"]::before {
	mask: var(--icon-Plugins, var(--icon-Default)) center/contain no-repeat;
}

.item_a0[data-tab-id="VencordThemes"]::before {
	mask: var(--icon-Themes, var(--icon-Default)) center/contain no-repeat;
}

.item_a0[data-tab-id="VencordUpdater"]::before {
	mask: var(--icon-Updater, var(--icon-Default)) center/contain no-repeat;
}

.item_a0[data-tab-id="VencordCloud"]::before {
	mask: var(--icon-Cloud, var(--icon-Default)) center/contain no-repeat;
}

.item_a0[data-tab-id="VencordSettingsSync"]::before {
	mask: var(--icon-BackupRestore, var(--icon-Default)) center/contain no-repeat;
}

/*    Activity Settings    */
/* Settings: Activity Privacy */
.item_a0[data-tab-id="Activity Privacy"]::before {
	mask: var(--icon-ActivityPrivacy, var(--icon-Default)) center/contain no-repeat;
}

/* Settings: Registered Games */
.item_a0[data-tab-id="Game Activity"]::before {
	mask: var(--icon-GameActivity, var(--icon-Default)) center/contain no-repeat;
}

/* Settings: Overlay */
.item_a0[data-tab-id="Overlay"]::before {
	mask: var(--icon-Overlay, var(--icon-Default)) center/contain no-repeat;
}

/*      Misc Settings       */
/* Settings: What's New */
.item_a0[data-tab-id="changelog"]::before {
	mask: var(--icon-Changelog, var(--icon-Default)) center/contain no-repeat;
}

/* Settings: Merch */
.item_a0[data-tab-id="merchandise"]::before {
	mask: var(--icon-Merch, var(--icon-Default)) center/contain no-repeat;
}

/* Settings: HypeSquad */
.item_a0[data-tab-id="Hypesquad Online"]::before {
	mask: var(--icon-HypeSquad, var(--icon-Default)) center/contain no-repeat;
}

/* Settings: Experiments */
.item_a0[data-tab-id="Experiments"]::before {
	mask: var(--icon-Experiments, var(--icon-Default)) center/contain no-repeat;
}

/* Settings: Developer Options */
.item_a0[data-tab-id="Developer Options"]::before {
	mask: var(--icon-DeveloperOptions, var(--icon-Default)) center/contain no-repeat;
}

/* Settings: Hotspot Options */
.item_a0[data-tab-id="Hotspot Options"]::before {
	mask: var(--icon-HotspotOptions, var(--icon-Default)) center/contain no-repeat;
}

/* Settings: Dismissible Contents */
.item_a0[data-tab-id="Dismissible Content Options"]::before {
	mask: var(--icon-DismissibleConents, var(--icon-Default)) center/contain no-repeat;
}

/* Settings: Payment Flow Modals */
.item_a0[data-tab-id="Payment Flow Modals"]::before {
	mask: var(--icon-PaymentFlowModals, var(--icon-Default)) center/contain no-repeat;
}

/* Settings: Design Systems */
.item_a0[data-tab-id="Design System"]::before {
	mask: var(--icon-DesignSystems, var(--icon-Default)) center/contain no-repeat;
}

/* Settings: Text Playground */
.item_a0[data-tab-id="Text Playground"]::before {
	mask: var(--icon-TextPlayground, var(--icon-Default)) center/contain no-repeat;
}

/* Settings: Text Components */
.item_a0[data-tab-id="Text Component"]::before {
	mask: var(--icon-TextComponents, var(--icon-Default)) center/contain no-repeat;
}

/* Settings: Intl Testing */
.item_a0[data-tab-id="Intl Testing"]::before {
	mask: var(--icon-IntlTesting, var(--icon-Default)) center/contain no-repeat;
}

/* Settings: Profile Effects Preview Tool */
.item_a0[data-tab-id="Profile Effects Preview Tool"]::before {
	mask: var(--icon-ProfileEffectsPreview, var(--icon-Default)) center/contain no-repeat;
}

/* Settings: Web Setting Tree Tool */
.item_a0[data-tab-id="Web Setting Tree Tool"]::before {
	mask: var(--icon-WebSettingTreeTool, var(--icon-Default)) center/contain no-repeat;
}

/* Log Out */
.item_a0[data-tab-id="logout"]::before {
	mask: var(--icon-Logout) center/contain no-repeat;
}

/*      SERVER ICONS        */

/* Server: Overview */
.item_a0[data-tab-id="OVERVIEW"]::before {
	mask: var(--icon-Overview, var(--icon-Default)) center/contain no-repeat;
}

/* Server: Roles */
.item_a0[data-tab-id="ROLES"]::before {
	mask: var(--icon-Roles, var(--icon-Default)) center/contain no-repeat;
}

/* Server: Emoji */
.item_a0[data-tab-id="EMOJI"]::before {
	mask: var(--icon-Emoji, var(--icon-Default)) center/contain no-repeat;
}

/* Server: Stickers */
.item_a0[data-tab-id="STICKERS"]::before {
	mask: var(--icon-Stickers, var(--icon-Default)) center/contain no-repeat;
}

/* Server: Soundboard */
.item_a0[data-tab-id="SOUNDBOARD"]::before {
	mask: var(--icon-Soundboard, var(--icon-Default)) center/contain no-repeat;
}

/* Server: Widgets */
.item_a0[data-tab-id="WIDGET"]::before {
	mask: var(--icon-Widget, var(--icon-Default)) center/contain no-repeat;
}

/* Server: Server Template */
.item_a0[data-tab-id="GUILD_TEMPLATES"]::before {
	mask: var(--icon-Template, var(--icon-Default)) center/contain no-repeat;
}

/* Server: Custom Invite Link */
.item_a0[data-tab-id="VANITY_URL"]::before {
	mask: var(--icon-CustomInvite, var(--icon-Default)) center/contain no-repeat;
}

/*      Apps        */
/* Server - Apps: Integrations */
.item_a0[data-tab-id="INTEGRATIONS"]::before {
	mask: var(--icon-Integrations, var(--icon-Default)) center/contain no-repeat;
}

/* Server - Apps: App Directory */
.item_a0[data-tab-id="APP_DIRECTORY"]::before {
	mask: var(--icon-AppDirectory, var(--icon-Default)) center/contain no-repeat;
}

/*      Moderation      */

/* Server - Moderation: Safety Setup */
.item_a0[data-tab-id="MODERATION"]::before,
.item_a0[data-tab-id="SAFETY"]::before {
	mask: var(--icon-SafetySetup, var(--icon-Default)) center/contain no-repeat;
}

/* Server - Moderation: AutoMod */
.item_a0[data-tab-id="GUILD_AUTOMOD"]::before {
	mask: var(--icon-AutoMod, var(--icon-Default)) center/contain no-repeat;
}

/* Server - Moderation: Audit Log */
.item_a0[data-tab-id="AUDIT_LOG"]::before {
	mask: var(--icon-AuditLog, var(--icon-Default)) center/contain no-repeat;
}

/* Server - Moderation: Bans */
.item_a0[data-tab-id="BANS"]::before {
	mask: var(--icon-Bans, var(--icon-Default)) center/contain no-repeat;
}

/*      Community       */

/* Server - Community: Overview/Enable Community */
.item_a0[data-tab-id="COMMUNITY"]::before {
	mask: var(--icon-Overview, var(--icon-Default)) center/contain no-repeat;
}

/* Server - Community: Onboarding */
.item_a0[data-tab-id="ONBOARDING"]::before {
	mask: var(--icon-Onboarding, var(--icon-Default)) center/contain no-repeat;
}

/* Server - Community: Insights */
.item_a0[data-tab-id="ANALYTICS"]::before {
	mask: var(--icon-Insights, var(--icon-Default)) center/contain no-repeat;
}

/* Server Community: Partner Program Icon */
.item_a0[data-tab-id="PARTNER"]::before {
	mask: var(--icon-Partner, var(--icon-Default));
}

/* Server - Community: Discovery */
.item_a0[data-tab-id="DISCOVERY"]::before {
	mask: var(--icon-Discovery, var(--icon-Default)) center/contain no-repeat;
}

/*      Monetization       */
/* Server - Monetization: Server Subscriptions */
.item_a0[data-tab-id="ROLE_SUBSCRIPTIONS"]::before {
	mask: var(--icon-Subscriptions, var(--icon-Default)) center/contain no-repeat;
}

/* Server - Monetization: Server Boost Status */
.item_a0[data-tab-id="GUILD_PREMIUM"]::before {
	mask: var(--icon-ServerBoost, var(--icon-Default)) center/contain no-repeat;
	--icon-color: var(--guild-boosting-pink);
}

/*      User Management       */

/* Server - User Management: Members */
.item_a0[data-tab-id="MEMBERS"]::before {
	mask: var(--icon-Members, var(--icon-Default)) center/contain no-repeat;
}

/* Server: Invites */
.item_a0[data-tab-id="INSTANT_INVITES"]::before {
	mask: var(--icon-Invite, var(--icon-Default)) center/contain no-repeat;
}

/* Server: Permissions */
.item_a0[data-tab-id="PERMISSIONS"]::before {
	mask: var(--icon-Permissions, var(--icon-Default)) center/contain no-repeat;
}

/* Server: Delete Icon */
.item_a0[data-tab-id="DELETE"]::before {
	mask: var(--icon-Delete, var(--icon-Default)) center/contain no-repeat;
}

/* Make Delete/Logout Buttons Red */
.item_a0:is([data-tab-id="DELETE"],[data-tab-id="logout"]) {
	color: var(--info-danger-foreground) !important;
}

.item_a0:is([data-tab-id="DELETE"],[data-tab-id="logout"]):hover {
	background-color: var(--info-danger-background) !important;
}

.item_a0:is([data-tab-id="DELETE"],[data-tab-id="logout"])::before {
	background-color: var(--info-danger-foreground) !important;
	opacity: 0.6 !important;
}

.item_a0:is([data-tab-id="DELETE"],[data-tab-id="logout"]):hover::before {
	opacity: 1 !important;
}