/**
 * @name DiscordIcons
 * @author gold_me
 * @description A lightweight theme that adds more icons to your settings.
 * @source https://github.com/gold-me/DiscordIcons
 * @version 0.1.3
 */

/* DEFINITIONS */
@property --icons-show {
    syntax: "show | hide";
    inherits: false;
    initial-value: show;
  }
@property --icon-size {
    syntax: "<length>";
    inherits: true;
    initial-value: 24px;
  }
@property --icon-gap {
    syntax: "<length>";
    inherits: true;
    initial-value: 10px;
  }
@property --icon-animations {
    syntax: "true | false";
    inherits: true;
    initial-value: true;
  }
@property --icon-expand {
    syntax: "true | false";
    inherits: true;
    initial-value: false;
  }
@property --icon-Default {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Indeterminate_Question_Box.svg");
  }
@property --icon-MyAccount {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Manage_Accounts.svg");
  }
@property --icon-ProfileCustomization {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Style.svg");
  }
@property --icon-PrivacySaftey {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Security.svg");
  }
@property --icon-FamilyCenter {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Supervisor_Account.svg");
  }
@property --icon-AuthorizedApps {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/App_Registration.svg");
  }
@property --icon-Devices {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Devices.svg");
  }
@property --icon-Connections {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Link.svg");
  }
@property --icon-Clips {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Theaters.svg");
  }
@property --icon-FriendRequests {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Group_Add.svg");
  }
@property --icon-Nitro {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Discord/Nitro.svg");
  }
@property --icon-ServerBoost {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Discord/Server_Boost.svg");
  }
@property --icon-Subscriptions {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Star.svg");
  }
@property --icon-Gifts {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Redeem.svg");
  }
@property --icon-Billing {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Receipt_Long.svg");
  }
@property --icon-Appearance {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Brush.svg");
  }
@property --icon-Accessibility {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Accessibility_New.svg");
  }
@property --icon-VoiceVideo {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Perm_Camera_Mic.svg");
  }
@property --icon-Chat {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Chat.svg");
  }
@property --icon-Notifications {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Notifications_Active.svg");
  }
@property --icon-Keybinds {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Keyboard.svg");
  }
@property --icon-Language {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Translate.svg");
  }
@property --icon-Windows {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Logo-Windows.svg");
  }
@property --icon-Mac {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Logo-Apple.svg");
  }
@property --icon-Linux {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Logo-Tux.svg");
  }
@property --icon-Streaming {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Videocam.svg");
  }
@property --icon-Advanced {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Tune.svg");
  }
@property --icon-Vencord {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/jdecked/twemoji/main/assets/svg/1f431.svg");
  }
@property --icon-Plugins {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Extention.svg");
  }
@property --icon-Themes {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Format_Paint.svg");
  }
@property --icon-Updater {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/System_Update_Alt.svg");
  }
@property --icon-Cloud {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Cloud.svg");
  }
@property --icon-BackupRestore {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Backup.svg");
  }
@property --icon-ActivityPrivacy {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Indeterminate_Question_Box.svg");
  }
@property --icon-GameActivity {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Indeterminate_Question_Box.svg");
  }
@property --icon-Overlay {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Indeterminate_Question_Box.svg");
  }
@property --icon-Changelog {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Indeterminate_Question_Box.svg");
  }
@property --icon-Merch {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Indeterminate_Question_Box.svg");
  }
@property --icon-HypeSquad {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Indeterminate_Question_Box.svg");
  }
@property --icon-Experiments {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Indeterminate_Question_Box.svg");
  }
@property --icon-DeveloperOptions {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Indeterminate_Question_Box.svg");
  }
@property --icon-HotspotOptions {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Indeterminate_Question_Box.svg");
  }
@property --icon-DismissibleConents {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Indeterminate_Question_Box.svg");
  }
@property --icon-PaymentFlowModals {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Indeterminate_Question_Box.svg");
  }
@property --icon-DesignSystems {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Indeterminate_Question_Box.svg");
  }
@property --icon-TextPlayground {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Indeterminate_Question_Box.svg");
  }
@property --icon-TextComponents {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Indeterminate_Question_Box.svg");
  }
@property --icon-IntlTesting {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Indeterminate_Question_Box.svg");
  }
@property --icon-ProfileEffectsPreview {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Indeterminate_Question_Box.svg");
  }  
@property --icon-Logout {
    syntax: "<url>";
    inherits: true;
    initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Logout.svg");
  }


/* Padding and Icons */
[class^=standardSidebarView_] [class^=sidebarRegionScroller_] [class*="item"]{
	padding: calc((32px - var(--icon-size)) / 2) calc((32px - var(--icon-size)) / 2);
}
[class^=standardSidebarView_] [class^=sidebarRegionScroller_] [class*="item"]::before {
	content: "";
	float: left;
	width: var(--icon-size);
	height: var(--icon-size);
	margin-right: 8px;
	opacity: .5;
	transition: 160ms;
	mask: var(--icon-Default) center/contain no-repeat;
	background: currentColor;
}
[class^=standardSidebarView_] [class^=sidebarRegionScroller_] [class*="item"] {
	line-height: var(--icon-size);
}
[class^=sidebarRegionScroller_] [class^=item_] .dot-2s_oHI {
	background-color: var(--bd-blue);
}
[class^=standardSidebarView_] [class^=sidebarRegionScroller_] [class*="item"]:hover::before {
	opacity: .7;
}
[class^=standardSidebarView_] [class^=sidebarRegionScroller_] [class*="item"][class*="selected"]::before {
	opacity: 1;
}
/* Button Hover & Animations */
@container style(--icon-animations: true) {
	[class^=standardSidebarView_] [class^=sidebar_] [class^=side_] [class*="item"] {
		border-radius: 4px 0px 0px 4px;
		transform: translateZ(0);
		transition: 220ms;
	}
  [class^=standardSidebarView_] [class^=sidebar_] [class^=side_] [class*=item_]:hover,
	[class^=standardSidebarView_] [class^=sidebar_] [class^=side_] [class*=themed_].selected_a0[class^=item_] {
		transform: translateX(8px);
		transition: 160ms;
	}
}
/* Icons Expansion */
@container style(--icon-expand: true) {
  [class^=standardSidebarView_] [class^=sidebar_] [class^=side_] [class*=item_]:hover,
  [class^=standardSidebarView_] [class^=side_] .selected_a0[class*=item_]
	{
		min-width: calc(var(--custom-standard-sidebar-view-sidebar-content-width) + (var(--icon-size) * (1 + (1 / 3))));
		margin-left: calc(-1 * var(--icon-size) * (1 + (1 / 3)));
	}
}

/* Nitro, Server Boost & Subscriptions Selected Color Fix */
[class^=standardSidebarView_] [aria-label="User Settings"][class^=side_] .selected_a0[class*=item_][data-tab-id="Discord Nitro" i] [class^=background_] {
	background-color: unset !important;
	z-index: 0;
}
/* Remove Unnesecary Icons */
[class^=standardSidebarView_] [class^=item_][aria-label="Delete Category"] .tabBarItemContainer_e7c031 svg,
[class^=standardSidebarView_] [class^=item_][aria-label="Delete Server" i] .tabBarItemContainer_e7c031 svg,
[class^=standardSidebarView_] [class^=item_][aria-label="Delete Channel" i] .tabBarItemContainer_e7c031 svg,
[class^=standardSidebarView_] [class^=side_] [class^=premiumLabel_] svg,
[class^=standardSidebarView_] [class^=side_] [class*=serverBoostTabItem_] .icon_f7189e,
[class^=standardSidebarView_] [class^=side_] [class^=item_][aria-label="Log Out"] .tabBarItemContainer_e7c031 svg
{
	display: none;
}

/*		User Settings		*/

/* My Account */
[class^=standardSidebarView_] [class^=side_] [class^=item_][data-tab-id="My Account" i]::before
{
  mask: var(--icon-MyAccount) center/contain no-repeat;
}
/* Profiles */
[class^=standardSidebarView_] [class^=side_] [class^=item_][data-tab-id="Profile Customization" i]::before
{
  mask: var(--icon-ProfileCustomization) center/contain no-repeat;
}
/* Privacy & Saftey */
[class^=standardSidebarView_] [class^=side_] [class^=item_][data-tab-id="Privacy & Safety" i]::before
{
  mask: var(--icon-PrivacySaftey) center/contain no-repeat;
}
/* Family Center */
[class^=standardSidebarView_] [class^=side_] [class^=item_][data-tab-id="Family Center" i]::before
{
  mask: var(--icon-FamilyCenter) center/contain no-repeat;
}
/* Authorized Apps */
[class^=standardSidebarView_] [class^=side_] [class^=item_][data-tab-id="Authorized Apps" i]::before
{
    mask: var(--icon-AuthorizedApps) center/contain no-repeat;
}
/* Devices */
[class^=standardSidebarView_] [class^=side_] [class^=item_][data-tab-id="Sessions" i]::before
{
  mask: var(--icon-Devices) center/contain no-repeat;
}
/* Connections */
[class^=standardSidebarView_] [class^=side_] [class^=item_][data-tab-id="Connections" i]::before
{
  mask: var(--icon-Connections) center/contain no-repeat;
}
/* Clips */
[class^=standardSidebarView_] [class^=side_] [class^=item_][data-tab-id="Settings Clips" i]::before
{
  mask: var(--icon-Clips) center/contain no-repeat;
}
/* Friend Requests */
[class^=standardSidebarView_] [class^=side_] [class^=item_][data-tab-id="Friend Requests" i]::before
{
  mask: var(--icon-FriendRequests) center/contain no-repeat;
}

/*		Billing Settings		*/

/* Discord Nitro */
[class^=standardSidebarView_] [aria-label="User Settings"][class^=side_] [class*=item_][data-tab-id="Discord Nitro" i]::before
{
  mask: var(--icon-Nitro) center/contain no-repeat;
}
[class^=standardSidebarView_] [aria-label="User Settings"][class^=side_] [class*=item_][data-tab-id="Discord Nitro" i]:hover::before,
[class^=standardSidebarView_] [aria-label="User Settings"][class^=side_] .selected_a0[class*=item_][data-tab-id="Discord Nitro" i]::before
{
	background-color: var(--brand-500) !important;
}
/* Server Boost */
[class^=standardSidebarView_] [aria-label="User Settings"][class^=side_] [class*=item_][data-tab-id="Nitro Server Boost" i]::before
{
  mask: var(--icon-ServerBoost) center/contain no-repeat;
}
[class^=standardSidebarView_] [aria-label="User Settings"][class^=side_] [class*=item_][data-tab-id="Nitro Server Boost" i]:hover::before,
[class^=standardSidebarView_] [aria-label="User Settings"][class^=side_] .selected_a0[class*=item_][data-tab-id="Nitro Server Boost" i]::before
{
	background-color: var(--guild-boosting-pink);
}
/* Subscriptions */
[class^=standardSidebarView_] [class^=side_] [class^=item_][data-tab-id="Subscriptions" i]::before
{
  mask: var(--icon-Subscriptions) center/contain no-repeat;
}
/* Gift Inventory */
[class^=standardSidebarView_] [class^=side_] [class^=item_][data-tab-id="Library Inventory" i]::before
{
  mask: var(--icon-Gifts) center/contain no-repeat;
}
/* Billing */
[class^=standardSidebarView_] [class^=side_] [class^=item_][data-tab-id="Billing" i]::before
{
  mask: var(--icon-Billing) center/contain no-repeat;
}

/*		App Settings		*/

/* Appearance */
[class^=standardSidebarView_] [class^=side_] [class^=item_][data-tab-id="Appearance" i]::before
{
  mask: var(--icon-Appearance) center/contain no-repeat;
}
/* Appearance */
[class^=standardSidebarView_] [class^=side_] [class^=item_][data-tab-id="Accessibility" i]::before
{
  mask: var(--icon-Accessibility) center/contain no-repeat;
}
/* Voice & Video */
[class^=standardSidebarView_] [class^=side_] [class^=item_][data-tab-id="Voice & Video" i]::before
{
  mask: var(--icon-VoiceVideo) center/contain no-repeat;
}
/* Chat */
[class^=standardSidebarView_] [class^=side_] [class^=item_][data-tab-id="Text & Images" i]::before
{
  mask: var(--icon-Chat) center/contain no-repeat;
}
/* Notifications */
[class^=standardSidebarView_] [class^=side_] [class^=item_][data-tab-id="Notifications" i]::before
{
  mask: var(--icon-Notifications) center/contain no-repeat;
}
/* Keybinds */
[class^=standardSidebarView_] [class^=side_] [class^=item_][data-tab-id="Keybinds" i]::before
{
  mask: var(--icon-Keybinds) center/contain no-repeat;
}
/* Language */
[class^=standardSidebarView_] [class^=side_] [class^=item_][data-tab-id="Language" i]::before
{
  mask: var(--icon-Language) center/contain no-repeat;
}
/* Windows Settings */
[class^=standardSidebarView_] [class^=side_] [class^=item_][data-tab-id="Windows" i]::before
{
  mask: var(--icon-Windows) center/contain no-repeat;
}
/* Linux Settings */
[class^=standardSidebarView_] [class^=side_] [class^=item_][data-tab-id="Linux" i]::before
{
  mask: var(--icon-Linux) center/contain no-repeat;
}
/* Streamer Mode */
[class^=standardSidebarView_] [class^=side_] [class^=item_][data-tab-id="Streamer Mode" i]::before
{
  mask: var(--icon-Streaming) center/contain no-repeat;
}
/* Streamer Mode */
[class^=standardSidebarView_] [class^=side_] [class^=item_][data-tab-id="Advanced" i]::before
{
  mask: var(--icon-Advanced) center/contain no-repeat;
}

/* Vencord Icons */
.vc-settings[class*=item_][class*=themed_]::before {
  mask: var(--icon-Vencord) center/contain no-repeat;
}
.vc-plugins[class*=item_][class*=themed_]::before {
	mask: var(--icon-Plugins) center/contain no-repeat;
}
.vc-themes[class*=item_][class*=themed_]::before {
	mask: var(--icon-Themes) center/contain no-repeat;
}
.vc-updater[class*=item_][class*=themed_]::before {
	mask: var(--icon-Updater) center/contain no-repeat;
}
.vc-cloud[class*=item_][class*=themed_]::before {
	mask: var(--icon-Cloud) center/contain no-repeat;
}
.vc-backup-restore[class*=item_][class*=themed_]::before {
	mask: var(--icon-BackupRestore) center/contain no-repeat;
}

/*    Activity Settings    */
/* Activity Privacy */
[class^=standardSidebarView_] [class^=side_] [class^=item_][data-tab-id="Activity Privacy" i]::before
{
  mask: var(--icon-ActivityPrivacy) center/contain no-repeat;
}
/* Game Activity */
[class^=standardSidebarView_] [class^=side_] [class^=item_][data-tab-id="Game Activity" i]::before
{
  mask: var(--icon-GameActivity) center/contain no-repeat;
}
/* Overlay */
[class^=standardSidebarView_] [class^=side_] [class^=item_][data-tab-id="Overlay" i]::before
{
  mask: var(--icon-Overlay) center/contain no-repeat;
}

/*      Misc Settings       */
/* What's New */
[class^=standardSidebarView_] [class^=side_] [class^=item_][data-tab-id="changelog" i]::before
{
  mask: var(--icon-Changelog) center/contain no-repeat;
}
/* Merch */
[class^=standardSidebarView_] [class^=side_] [class^=item_][data-tab-id="merchandise" i]::before
{
  mask: var(--icon-Merch) center/contain no-repeat;
}
/* HypeSquad */
[class^=standardSidebarView_] [class^=side_] [class^=item_][data-tab-id="Hypesquad Online" i]::before
{
  mask: var(--icon-HypeSquad) center/contain no-repeat;
}
/* Experiments */
[class^=standardSidebarView_] [class^=side_] [class^=item_][data-tab-id="Experiments" i]::before
{
  mask: var(--icon-Experiments) center/contain no-repeat;
}
/* Developer Options */
[class^=standardSidebarView_] [class^=side_] [class^=item_][data-tab-id="Developer Options" i]::before
{
  mask: var(--icon-DeveloperOptions) center/contain no-repeat;
}
/* Hotspot Options */
[class^=standardSidebarView_] [class^=side_] [class^=item_][data-tab-id="Hotspot Options" i]::before
{
  mask: var(--icon-HotspotOptions) center/contain no-repeat;
}
/* Dismissible Contents */
[class^=standardSidebarView_] [class^=side_] [class^=item_][data-tab-id="Dismissible Content Options" i]::before
{
  mask: var(--icon-DismissibleConents) center/contain no-repeat;
}
/* Payment Flow Modals */
[class^=standardSidebarView_] [class^=side_] [class^=item_][data-tab-id="Payment Flow Modals" i]::before
{
  mask: var(--icon-PaymentFlowModals) center/contain no-repeat;
}
/* Design Systems */
[class^=standardSidebarView_] [class^=side_] [class^=item_][data-tab-id="Design System" i]::before
{
  mask: var(--icon-DesignSystems) center/contain no-repeat;
}
/* Text Playground */
[class^=standardSidebarView_] [class^=side_] [class^=item_][data-tab-id="Text Playground" i]::before
{
  mask: var(--icon-TextPlayground) center/contain no-repeat;
}
/* Text Components */
[class^=standardSidebarView_] [class^=side_] [class^=item_][data-tab-id="Text Component" i]::before
{
  mask: var(--icon-TextComponents) center/contain no-repeat;
}
/* Intl Testing */
[class^=standardSidebarView_] [class^=side_] [class^=item_][data-tab-id="Intl Testing" i]::before
{
  mask: var(--icon-IntlTesting) center/contain no-repeat;
}
/* Profile Effects Preview Tool */
[class^=standardSidebarView_] [class^=side_] [class^=item_][data-tab-id="Profile Effects Preview Tool" i]::before
{
  mask: var(--icon-ProfileEffectsPreview) center/contain no-repeat;
}
/* Logout */
[class^=standardSidebarView_] [class^=side_] [class^=item_][aria-label="Log Out"]::before
{
	mask: var(--icon-Logout) center/contain no-repeat;
	opacity: .6;
	background-color: var(--info-danger-foreground);
}
[class^=standardSidebarView_] [class^=side_] [class^=item_][aria-label="Log Out"]:hover:before
{
	opacity: 1;
}
[class^=standardSidebarView_] [class^=side_] [class^=item_][aria-label="Log Out"],
[class^=standardSidebarView_] [class^=side_] [class^=item_][aria-controls="logout-tab" i] {
	color: var(--info-danger-foreground);
}
[class^=standardSidebarView_] [class^=side_] [class^=item_][aria-label="Log Out"]:hover,
[class^=standardSidebarView_] [class^=side_] [class^=item_][aria-controls="logout-tab" i]:hover {
	background-color: var(--info-danger-background);
}