@use 'sass:map';
/* SETTINGS SIDEBAR ICONS */

%settingsSidebar {
  // GENERAL STYLES
  %tabBarItem {
    &:before {
      content: "";
      float: left;
      width: var(--si-size) !important;
      height: var(--si-size) !important;
      margin-right: 8px;
      opacity: var(--si-opacity);
      transition: 160ms;
      mask: var(--si-Default) center/contain no-repeat;
      background: currentColor;

      // Conflicting Theme Sidebar fixes
      margin-top: 0px !important;
      position: static !important;
      background-image: unset !important;
    }

    &:hover::before {
      opacity: var(--si-opacity-hover);
    }

    &%tabBarItemSelected::before {
      opacity: 1;
    }

    &:hover::before,
    &%tabBarItemSelected::before {
      background-color: var(--si-color);
    }
  }

  // USER SETTINGS
  @each $i, $u in $userSettingsIcons {
    %tabBarItem[data-tab-id=#{str-replace("\'" + $i + "\'", '-', ' ')} i] {
      --si-color: var(--si-color-#{str-replace($i, '-&', '')});
      &:before {
        mask: var(--si-#{str-replace($i, '-&', '')}) center/contain no-repeat;
      }
    }
  }

  // SERVER SETTINGS
  @each $i, $u in $serverSettingsIcons {
    %tabBarItem[data-tab-id=#{str-replace("\'" + $i + "\'", '-', ' ')} i] {
      --si-color: var(--si-color-#{str-replace($i, '-&', '')});
      &:before {
        mask: var(--si-#{str-replace($i, '-&', '')}) center/contain no-repeat;
      }
    }
  }

  // CHANNEL SETTINGS
  @each $i, $u in $channelSettingsIcons {
    %tabBarItem[data-tab-id=#{str-replace("\'" + $i + "\'", '-', ' ')} i] {
      --si-color: var(--si-color-#{str-replace($i, '-&', '')});
      &:before {
        mask: var(--si-#{str-replace($i, '-&', '')}) center/contain no-repeat;
      }
    }
  }
}