/* PROPERTIES */
:root {
    container: root;
}

@property --si-size {
	syntax: "<length>";
	inherits: true;
	initial-value: 24px;
}
@property --si-height {
	syntax: "<length>";
	inherits: true;
	initial-value: 32px;
}
@property --si-gap {
	syntax: "<length>";
	inherits: true;
	initial-value: 10px;
}
@property --si-animations {
	syntax: "true | false";
	inherits: true;
	initial-value: true;
}
@property --si-expand {
	syntax: "true | false";
	inherits: true;
	initial-value: false;
}
@property --si-presets {
	syntax: "true | false";
	inherits: true;
	initial-value: true;
}
@property --si-permacolor {
	syntax: "true | false";
	inherits: true;
	initial-value: false;
}
@property --si-color {
	syntax: "<color>";
	inherits: true;
	initial-value: currentColor;
}

@each $i, $u in $miscSettingsIcons {
  @property --si-#{str-replace(#{$i}, '-&-', '')} {
    syntax: "<url>";
    inherits: true;
    initial-value: url(#{$u});
  }
}

@each $i, $u in $userSettingsIcons {
  @property --si-#{str-replace(#{$i}, '-&', '')} {
    syntax: "<url>";
    inherits: true;
    initial-value: url(#{$u});
  }
}

@each $i, $u in $serverSettingsIcons {
  @property --si-#{str-replace(#{$i}, '-&', '')} {
    syntax: "<url>";
    inherits: true;
    initial-value: url(#{$u});
  }
}

@each $i, $u in $channelSettingsIcons {
  @property --si-#{str-replace(#{$i}, '-&', '')} {
    syntax: "<url>";
    inherits: true;
    initial-value: url(#{$u});
  }
}